/* CSS Document */
/*
* Basic Cascading Style Sheet
* Intructions: none
* Version: 1.0
* Updated: 2013-10-08
* Author: Cyan.John.
* Contact:
* qq:331863539
* Email:zzy85620987@163.com
*/

@charset "utf-8";
/***********************CSS RESET*********************/


/* FRAMEWORK */
.wrap{width:1200px;height:auto;min-height:430px;margin:0 auto;overflow:hidden;padding:5px 0;font:12px 'Microsoft YaHei',Tahoma,Helvetica,Sans-Serif}
.banner{width:100%;height:auto;min-width:1007px;max-width:1200px;margin:0 auto;position:relative}
.tonglan{float:left;margin:0 0 30px}
.cart{position:absolute;width:160px;height:35px;background:url(../imgs/cart.png) no-repeat;right:40px;top:25px;line-height:35px;text-indent:65px}
.cart em{padding:0 4px;color:#fe0032}




/* SORT OF sAds */
.sad1{background:#EEE;color:#FFF;width:785px;height:352px}
.sad1 img{width:785px;height:352px}
.sad2{background:#EEE;color:#FFF;width:242px;height:176px}
.sad2 img{width:242px;height:176px}
.sad3{background:#EEE;color:#FFF;width:242px;height:110px;margin-bottom:11px}
.sad3 img{width:242px;height:110px}

.sad4{height: 417px;}
/* SORT OF BOXES */
.mod_box{width:171px;height:171px;float:left;margin:0 6px 6px 0;background:url(../imgs/box.png)}
.tname{display:block;width:200px;height:20px;float:left;white-space:nowrap;overflow:hidden;color:#888;line-height:22px;text-indent:5px}
.price{font-size:14px;color:#444}
.price.em{color:#c80a26}

/* store_tab */
#store_tab{width:1200px;margin:10px auto;height:auto;overflow:hidden}
#store_tab ul.store_nav{background:#FFF;width:100%;height:40px;*height:42px;outline:0;border-left:1px #ddd solid;float:left;list-style:none}
#store_tab .store_nav li{display:block;float:left;width:24.9%;*width:12.38%;height:100%;*height:40px;border-top:1px #ddd solid;border-right:1px #ddd solid;border-bottom:1px #ddd solid;background:#fbfbfb;font:bold 14px/1.5 "microsoft yahei","\5FAE\8F6F\96C5\9ED1";color:#444;text-align:center;line-height:40px;cursor:pointer}
#store_tab .store_nav li.current{background:#FFF;filter:none;border-bottom:0;border-top:2px solid #fe0034;line-height:38px}
#store_tab ul.store_content{list-style:none;width:1198px;border:1px #ddd solid;border-top:0;padding-bottom:10px;height:620px}
#store_tab .store_content>li{width:100%;height:320px;*height:290px;background:#FFF;display:none}
#store_tab .list li img{width:100%}
#store_tab .list{width:100%;height:auto}
#store_tab .list li{float:left;width:228px;overflow:hidden;margin:20px 0 0 10px}
#store_tab .list p{width:100%;height:26px;line-height:26px;white-space:nowrap;overflow:hidden;padding:5px 0}
#store_tab .list .tname{display:block;width:150px;color:#565656;text-decoration:none;text-indent:0}
#store_tab .list span{text-align:right;width:70px;font:14px '微软雅黑';color:#ca0a2a}


/* SALE FLOOR 
.sale_floor{width:1220px;height:auto;padding:10px 0;overflow:hidden;position:relative}
.news_section h1{width:696px;height:30px;font:16px/30px 'Microsoft YaHei',Tahoma,Helvetica,Sans-Serif;background:#e7e7e7;color:#444;text-indent:4px}
.news_section{width:701px;height:auto;float:left;overflow:hidden;margin-right:10px}
.news_box1{background:#e7e7e7;width:365px;height:321px;margin:5px 5px 0 0}
.news_box2{background:#e7e7e7;width:326px;height:150px;margin:5px 5px 0 0}
.news_box3{background:#e7e7e7;width:160px;height:165px;margin:5px 5px 0 0}
.coupon_section{width:493px;height:auto;float:left;overflow:hidden}
.coupon_section h1{width:487px;height:30px;font:16px/30px 'Microsoft YaHei',Tahoma,Helvetica,Sans-Serif;background:#e7e7e7;color:#444;text-indent:4px}
.sale_floor h1 a{font:12px/30px 'Microsoft YaHei',Tahoma,Helvetica,Sans-Serif;padding-right:8px}
.coupon_box1{background:#e7e7e7;width:159px;height:150px;margin:5px 5px 0 0}
.coupon_box2{background:#e7e7e7;width:324px;height:165px;margin:5px 5px 0 0}
.coupon_box3{background:#e7e7e7;width:159px;height:165px;margin:5px 5px 0 0}
.news_box,.coupon_box{position:relative;overflow:hidden}


.news_box p,.coupon_box p{width:100%;height:28px;line-height:28px;position:absolute;bottom:0;background:#000;background:rgba(0,0,0,0.7);opacity:.7\0;color:#FFF;display:none;text-indent:5px}
.coupon_box:hover p{display:block}
*/