/* CSS Document */
/*
* Basic Cascading Style Sheet
* Intructions: none
* Version: 1.0
* Updated: 2014-2-12
* Author: Cyan.John.
* Contact:
* qq:331863539
* Email:zzy85620987@163.com
*/


body{margin:0;padding:0}
li{list-style:none}
 
.wrap{width:1200px;margin:0 auto;overflow:hidden;height:auto}
.productGrid{ padding-top:10px}
 
.grid_wrap{width:1030px;height:auto} 
#cate_left{ width:180px;float:left;} 
#cate_right{ width:1000px;float:right;} 
 
/*左侧分类导航*/
.cate_tree{border:1px solid #ddd; border-bottom:none;width:180px;height:100%;background:#FFF;margin-top: 25px;}
.cate_tree dl{font:12px/20px '宋体';color:#333;text-indent:8px;height:39px;overflow:hidden;}

.cate_tree dt{font:bold 14px/30px 'microsfot yahei';border-bottom:1px solid #DDD;padding-top:8px;margin-bottom:8px;position:relative;cursor:pointer}
.cate_tree dt i{background:url(/Images/tri.png) no-repeat -2px -6px;width:5px;height:8px;right: 11px;position:absolute;top:18px}
.cate_tree dt a {text-decoration: none;color: #333;}
.cate_tree dl.on{height:auto; border-bottom:1px solid #DDD;}
.cate_tree dl.on dt i{background-position:0 0;width:8px;height:5px;right:10px;}
.cate_tree span{color:#999;padding-left:4px}


.cate_tree h3{background:url(/Images/plus.png) no-repeat 10px center;padding-left:20px;font:12px/26px '宋体';cursor:pointer}
.cate_tree h3 a{color:#333;}

.cate_tree ul{display:none}
.cate_tree li{line-height:26px}
.cate_tree li a{ color:#666;}
.cate_tree li.on a{ color:#c80a28;}
.cate_tree dd.on ul{display:block}
.cate_tree dd.on  h3{background:url(/Images/minus.png) no-repeat 10px center;}
.cate_tree .no_child h3{ background:none;}
.cate_tree .no_child.on h3{ background:none;}
.cate_tree .no_child.on a{color:#c80a28;}

/*左侧销售排行*/
.category_top10{ margin-top:10px; }
.category_top10 .middle{ }
.category_top10 .price{ color:#c80a28; font-family:arial; font-size:14px; line-height:25px;}
.category_top10 .sell_count{  float:right;line-height:25px;}
.category_top10 .sell_count em{ color:#c80a28;  font-family:arial; font-size:12px;}
.category_top10 .category_tree_title{ background:#333; font-size:14px; color:#FFF; height:25px; line-height:25px; text-indent:5px;}
.category_top10 ul{ border:1px solid #CCC; margin-top:5px; font-size:12px;color:#666;}
.category_top10 li { padding: 8px 8px;}
.category_top10 .paihang_nr{ height:35px;overflow:hidden;}
.category_top10 .paihang_nr a{color:#666;}
 
/*右侧商品列表*/
.product{position:relative;float:left;padding:0;margin:0;line-height:1.5;*overflow:'';z-index:1}
.product-hover{overflow:visible;*overflow:'';z-index:2}
.product:hover{overflow:visible;z-index:3;background:#fff}
.product-iWrap{position:absolute;background-color:#fff;border-color:#fff;min-height:98%;margin:0;padding:8px;border:1px solid #ddd}
.product-iWrap{font-size:0;*word-spacing:-1px}
.product-iWrap *{font-size:12px;*word-spacing:normal}
.product:hover .product-iWrap,.product-hover .product-iWrap{padding:7px;padding-bottom:0;height:auto;border:2px solid #c80a28;-webkit-transition:border-color .2s ease-in;-moz-transition:border-color .2s ease-in;-ms-transition:border-color .2s ease-in;-o-transition:border-color .2s ease-in;transition:border-color .2s ease-in}

.product{overflow:visible;margin-right:15px;margin-bottom:20px}
.product{position:relative;float:left;padding:0;margin:0;line-height:1.5;z-index:1;width:205px;height:398px;margin: 0 13px 20px 0;}
.product{width:240px;height:360px}
.product img,.product:hover{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:0s;-moz-animation-duration:0s;-ms-animation-duration:0s;-o-animation-duration:0s;animation-duration:0s;-webkit-animation-duration:.7s;-moz-animation-duration:.7s;-ms-animation-duration:.7s;-o-animation-duration:.7s;animation-duration:.7s}
.product img:hover{-webkit-transform-origin:top center;-moz-transform-origin:top center;-o-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;-moz-animation-name:swing;-o-animation-name:swing;animation-name:swing}
.product .product-iWrap{padding-bottom:0;width:222px;}


.productPrice,.productTitle,.productStatus,.productShop,.productIcons,.productAttrs{display:block;overflow:hidden;margin-bottom:3px}
.productIcons,.productDsr,.productExtra,.productAttrs{display:none}
.product:hover .productIcons,.product-hover .productIcons,.product:hover .productExtra,.product-hover .productExtra,.product:hover .productDsr,.product-hover .productDsr,.product:hover .productAttrs,.product-hover .productAttrs{display:block}
.productImg-wrap,.productImg{height:160px;width:100%}
.productImg-wrap{padding-bottom:5px}
.productImg-wrap div.productNew{display:none}
.productImg-wrap-hover .productNew s,.productImg-wrap:hover .productNew s{display:block;line-height:20px}
.productImg{display:table-cell;*display:block;_font-size:0;text-align:center;vertical-align:middle}
.productImg img{display:block;*display:inline-block;margin:0 auto}
.view .productImg-wrap,.view .productImg{height:220px}
.view .productImg{*font-size:140px;_overflow:hidden}
.proThumb-wrap{display:inline;float:left;height:38px;overflow:hidden;position:relative;width:185px}
.proThumb-next,.proThumb-prev{visibility:hidden;cursor:pointer;margin:18px 2px 0 -3px;float:left}
.proThumb-next{margin:18px -3px 0 0}
.proThumb-img{display:table-cell;float:left;height:30px;width:30px;margin-right:3px;margin-top:4px;padding:1px;font-size:0;text-align:center;vertical-align:middle;border:1px solid #CCC;cursor:pointer}
.proThumb-img *{font-size:12px}
.proThumb-img img{max-height:30px;max-width:30px;vertical-align:middle}
.proThumb-selected{border:2px solid #cd0000;padding:0;position:relative}
.proThumb-selected i{height:0;left:10px;overflow:hidden;position:absolute;top:-10px;width:0;line-height:0;font-size:1px;border-width:4px;border-color:#fff white #cd0000 #fff;border-style:solid}
.proThumb-selected img,.proThumb-img img:hover,.proThumb-img img.hover{padding:0}
.proThumb-disable:hover{cursor:default;background-color:#b8b2b1;background-color:transparent\9;background-color:#b8b2b1\9\0;_background-color:#b8b2b1;background-position:-37px -142px}
.miniView .proThumb-wrap{width:111px;margin:0 5px}
.productPrice{font-family:arial,verdana,sans-serif!important;color:#C00;font-size:14px;height:20px;line-height:20px;overflow:hidden}
.productPrice em{font-weight:700;float:left;color:#c00;font-weight:bolder;font-size:14px}
.productPrice del{font-weight:400;float:right;color:#cbcbcb}
.productPrice .productPrice-ave{float:right;white-space:nowrap;background:#efeceb;color:#806f66;border:1px solid #eae5e2;padding:0 5px}
.productImg-wrap{position:relative}
.productOrderNum{display:none}
.productOrderNum{color:#a7a7a7}
.productOrderNum em{font-weight:700;color:#c49173}
.product:hover .productOrderNum,.product-hover .productOrderNum,.product:hover .productPrice-tips,.product-hover .productPrice-tips{display:block}
.product:hover .productOrder-tips,.product-hover .productOrder-tips{width:100%;-webkit-transition:width .3s ease-in-out;-moz-transition:width .3s ease-in-out;-ms-transition:width .3s ease-in-out;-o-transition:width .3s ease-in-out;transition:width .3s ease-in-out}
.product:hover .productOrder-tips span,.product-hover .productOrder-tips span{display:inline;font-size:14px}
.productOrder-tips{position:absolute;background-image:url(about:blank);background-color:rgba(135,113,90,.85);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#d987715a,endcolorstr=#d987715a);*zoom:1;height:30px;line-height:30px;width:auto;right:0;top:0;color:#fff;overflow:hidden}
.ie9 .productOrder-tips,.ks-ie9 .productOrder-tips{background-color:transparent}
.productOrder-tips span{display:none}
.productOrder-tips i{position:absolute;top:7px;left:5px;height:16px;width:16px;display:inline-block;background:url(/Images/t1kq8vfgfbxxasqp_x-16-16.png)}
.productOrder-tips em{font-weight:700;margin:0 5px 0 25px}
.productOrder-end{background-image:url(about:blank);background-color:rgba(102,102,102,.5);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80666666,endcolorstr=#80666666);*zoom:1}
.ie9 .productOrder-end,.ks-ie9 .productOrder-end{background-color:transparent}
.productOrder-end i{background-image:url(/Images/t1g0brxbxbxxasqp_x-16-16.png)}
.productPrice-text{float:left;color:#cbcbcb;margin-left:3px}
.productPrice-tips{position:relative;margin-top:5px;margin-bottom:5px;display:none}
.pPt-con{background:#fff;padding:11px 3%;top:-85px;width:94%;border:1px solid #eae5e1;border-radius:2px;box-shadow:2px 2px 3px #ececec}
.pPt-con,.pPt-gray{color:#b5b2b2}
.pPt-ul{width:103%}
.miniView .productPrice-tips{left:0;width:100%;_width:122%;_left:0;_margin-left:-11%;_margin-right:-11%}
.miniView .pPt-ul{width:106%;margin-left:-2%}
.miniView .pPt-con i{left:30px}
.miniView .pPt-con li{letter-spacing:-1px}
.miniView .productOrder-tips span{font-size:12px}


.pPt-con i{position:absolute;display:inline-block;left:10px;top:-8px;width:14px;height:9px;line-height:9px;overflow:hidden;background:url(/Images/t1rjt_xwndxxbgdxjx-14-9.png)}
.pPt-con ul{height:70px}
.pPt-con li{position:relative;word-wrap:break-word;float:left;width:32%;_width:33%;height:56px;padding-top:14px;text-align:center;border-right:1px solid #eae5e1;font-family:arial,verdana,sans-serif;line-height:1.7}
.pPt-con li b{position:absolute;display:inline-block;height:6px;line-height:6px;overflow:hidden;width:100%;background:#dbdbdb;top:0;left:-1px;border-left:1px solid #fff}
.pPt-con li del{display:none;position:absolute;top:45%;left:-4px;height:1px;width:114%;background:#dadada;color:transparent;-webkit-transform:rotate(-37deg);-moz-transform:rotate(-37deg);-o-transform:rotate(-37deg);transform:rotate(-37deg);top:11px\9;left:-17px\9;height:43px\9;width:auto\9;line-height:66px\9;color:#dadada\9;background:transparent\9;font-size:81px\9;font-family:sans-serif\9;font-style:italic\9~;text-decoration:none\9;overflow:hidden\9}
.ie10 .pPt-con li del,.ks-ie10 .pPt-con li del{transform:none}
.pPt-con li p{position:relative;white-space:nowrap;overflow:hidden;width:100%}
.pPt-con li p em{font-weight:700}
.pPt-con .pPt-li-del del{display:inline-block}
.pPt-li-first b{border-radius:3px 0 0 3px}
li.pPt-li-last{border-right:0}
li.pPt-li-last b{border-radius:0 3px 3px 0}
li.pPt-li-curr{color:#000}
li.pPt-li-curr b{background-color:#87715a}

.productTitle{display:block;font-size:0;height:18px;word-break:break-all}
.productTitle *{font-size:12px;font-family:\5FAE\8F6F\96C5\9ED1}
.productTitle,.productTitle a{color:#666}
.productTitle a .H,.productTitle a em{color:#C60}
.productTitle a:hover{color:#c10001!important}

.productTitle b{color:#ef0049}
.product:hover .productTitle,.product-hover .productTitle{height:auto}
.productCSPU{font-family:\5b8b\4f53;line-height:18px;height:18px;margin-bottom:2px;overflow:hidden}
.productCSPU span{display:inline-block;line-height:12px;line-height:14px\9;vertical-align:middle;border-left:1px solid #ccc;color:#865;padding:0 3px 0 5px;margin-left:-6px;margin-right:5px;margin-bottom:3px;max-width:52px;_width:expression(function(el){if(/msie 6/i.test(navigator.userAgent))el.style.width =(el.clientWidth>52) ? '52px':'auto'}
(this));white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.productShop{height:20px}
.productShop .productShop-name{float:left;display:block;line-height:20px;height:20px;width:135px;color:#666;text-decoration:underline;overflow:hidden;word-break:break-all}
.productShop .productShop-name:hover{color:#c10001!important}
.view .productShop-name{width:195px}
.productStatus{color:#a7a7a7}
.productStatus em{color:#c49173;font-weight:bolder}
.productStatus a{color:#568396}
.productIcons a:hover{text-decoration:none}
.productIcons img{margin:0 2px 0 1px;*margin-top:4px;*margin-bottom:3px;vertical-align:middle}
.product:hover .productIcons,.product-hover .productIcons{max-height:none}
.productPostDay{float:left;display:inline-block;height:18px;line-height:18px;background:#f2f2f2;color:#999;padding:0 4px 2px;margin-top:3px;margin-right:3px;vertical-align:middle}
.productPostDay em{color:#bf8c62}
.productPostDay b{display:none;word-break:break-word;word-wrap:break-word;color:#827161;margin-left:10px}
.product:hover .productPostDay b,.product-hover .productPostDay b{display:inline}
.product:hover .productExtraShops,.product-hover .productExtraShops{display:block}
.productDsr{color:#666;margin-bottom:3px;display:none}
.productDsr em{color:#fff;background:#a10002;padding:0 6px 1px;*padding:1px 6px 0;overflow:hidden;margin-left:5px;border-radius:3px}

.product .productBrand,.product .productBrand a{display:block;height:30px;line-height:30px;margin-bottom:5px;font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53;font-size:16px;color:#000;text-align:center}
.product .productBrand a:hover{color:#c10001!important;text-decoration:none}
.product .productImg-wrap{display:table;table-layout:fixed;width:100%;padding-bottom:1px;*height:220px;}
.product .productImg-wrap a,.product .productImg-wrap img{max-width:100%}
.product .productPrice{height:30px;line-height:40px;margin:0 0 6px;letter-spacing:normal}
.product .productPrice em{font-family:arial;font-weight:400;font-size:20px;color:#c80a28}
.product .productPrice em b{margin-right:3px;font-weight:700;font-size:14px;vertical-align:middle}
.product .productPrice del{float:left;margin-top:2px;margin-left:5px;color:#999}
.product .productPrice .proPrice_zk{background:#ebe7e6;line-height:20px;margin-top:10px;color:#7a6a61;padding:0 5px;display:inline-block;margin-left:5px}
.product .productPrice .productPrice-ave{color:#999;background:0;border:0}
.product .productTitle{margin-bottom:0}
.product .productTitle a{color:#333}
.product .productStatus{position:relative;height:47px;border:0;border-top:1px solid #eee;margin-bottom:0;color:#999;width: 106%;margin-left: -3%;}
.product .productStatus span{float:left;display:inline-block;border-right:1px solid #eee;width:45%;height:29px;padding:9px 5px;*padding:9px 39px;line-height:15px;text-align:center}
.product .productStatus span.r{border-right: none;}
.miniView .product .productStatus span{width:30%}
.product .productStatus em,.product .productStatus a{margin-top:-8px;font-family:arial;font-size:14px;font-weight:700}
.product .productStatus em{color:#b57c5b}
.product .productStatus a{color:#38b}
.product .productStatus .ww-light{width:18.5%;border-right:0}
.sBr-con .product .productStatus .ww-light{width:30px}
.miniView .product .productStatus .ww-light{width:20%}
.ie8 .product .productStatus .ww-light a,.ks-ie8 .product .productStatus .ww-light a,.ie7 .product .productStatus .ww-light a,.ks-ie7 .product .productStatus .ww-light a,.ie6 .product .productStatus .ww-light a,.ks-ie6 .product .productStatus .ww-light a{width:100px;height:100px;zoom:.16;top:7px;*top:0}
.ie8 .product .productStatus .ww-light a span,.ks-ie8 .product .productStatus .ww-light a span,.ie7 .product .productStatus .ww-light a span,.ks-ie7 .product .productStatus .ww-light a span,.ie6 .product .productStatus .ww-light a span,.ks-ie6 .product .productStatus .ww-light a span{width:auto;zoom:6;left:-11px;top:106px}
.product .productStatus .ww-light a{background:url(/Images/t11lggfoxcxxc1v.nr-93-93.png) no-repeat center center!important;background-size:16px!important;position:relative;width:16px;height:16px}
.product .productStatus .ww-light a span{padding:0;display:block;white-space:nowrap;color:#999;top:18px;left:-2px;height:14px;position:absolute;width:2em!important;overflow:hidden;margin-left:-2px;border-right:0;font-weight:400;font-size:12px}
.product .productStatus .ww-light a.ww-offline{background:url(/Images/t1rb.jfijbxxc1v.nr-93-93.png) no-repeat center center!important;background-size:16px!important}
.product .productShop{position:relative;overflow:visible;margin-bottom:7px}
.product .productShop .productShop-name{color:#999;width:auto}
.product .productIcons{margin:0;height:auto;line-height:30px;max-height:30px;border-top:1px solid #eee}
.product .productAttrs{border-top:1px solid #eee;margin-top:-1px}
.product .productAttrs span{padding:6px 0;margin-bottom:10px}
.product:hover .product-iWrap,.product-hover .product-iWrap{border-radius:0}

/*代购商品重写*/
.product_dg{height:460px}
.product_dg .cornor{position:absolute;top:0px;left:0px;width: 64px;height: 26px;background: url(/Images/cornor.png) no-repeat;}
.product_dg .productImg-wrap img{width: 222px;height: 317px;}