@charset "utf-8";
/* CSS Document */

.user_main{width:100%;height:auto;overflow:hidden;font-family: '微软雅黑'}
.user_wrap{width:990px;height:auto;margin:0 auto;overflow:hidden;}

/*通用表单样式**/
.user_wrap .form{ padding:5px;}
.user_wrap .form label{ display:inline-block;min-width:60px;height:20px; line-height:20px; }
.user_wrap .form input[type=text]{height:20px; line-height:20px; }
.user_wrap .form ul li{margin-bottom:5px;margin-top:4px;  }

/* input.zhifu{ background: #bf0000;border: none;color: #fff;margin: 0;padding: 0;font-weight: bold;float: left;cursor: pointer;padding: 4px 10px;margin: 12px 15px;} */
/*遮罩*/
#shade{width:100%;height:100%;position:fixed;z-index:1001;top:0;left:0;background:#000;opacity: 0.5;filter: alpha(opacity=50);}

/*弹出框*/
.cpm{min-width:600px;min-height:350px;position: fixed;z-index:2;top:50%;margin-top:-200px;left:50%;margin-left:-300px;}
.cpm .bg{width:100%;height:100%;background: #fff;opacity:0.4;filter: alpha(opacity=40);position:absolute;z-index:4;}
.cpm .con{width:570px;min-height:310px;background:#fff;position:absolute;top:15px;left:15px;z-index:6;}
.cpm .con a.close_btn{width:14px;height:15px;background:url(../imgs/user_center.png) no-repeat -160px -719px;position:absolute;right:18px;top:13px;}
.cpm .con a.close_btn:hover{background:url(../imgs/user_center.png) no-repeat -195px -713px;top:7px;right:12px;width:26px;height:26px;}
.cpm .con>h2{font-size:16px;color:#333;font-weight: bold;padding:10px;}

/*面包屑*/
.user_wrap .crumbs{font-family: '宋体';font-size:12px;color:#999;margin:20px 0;}
.user_wrap .crumbs>a{font-style:inherit;color:inherit;}

/*按钮*/
input.zhifu{background:url(../imgs/user_center.png) no-repeat -20px -311px;width:49px;height:25px;cursor: pointer; text-indent:100px;}
input.zhifu:active{background-position: -75px -311px;}

input.receiv{background:url(../imgs/user_center.png) no-repeat -18px -357px;width:67px;height:25px;cursor: pointer;}
input.receiv:active{background-position: -95px -357px;}

input.evaluate{background:url(../imgs/user_center.png) no-repeat -22px -406px;width:51px;height:25px;cursor: pointer;}
input.evaluate:active{background-position:-83px -406px;}

input[type=submit].save_btn{background: url(../imgs/user_center.png) no-repeat -305px -310px;width:49px;height:25px;}
input[type=submit].save_btn:active{background-position: -360px -310px;}

input.return{background:url(../imgs/user_center.png) no-repeat -26px -1025px;width:48px;height:21px;cursor: pointer;}
input.return:active{background-position: -90px -1025px;}

input.cancle1{background:url(../imgs/user_center.png) no-repeat -280px -1025px;width:48px;height:21px;cursor: pointer;}
input.cancle1:active{background-position:-344px -1025px;}
input.cancle2{background:url(../imgs/user_center.png) no-repeat -26px -971px;width:98px;height:35px;cursor: pointer;}
input.cancle2:active{background-position:-146px -971px;}

input.apply{background: url(../imgs/user_center.png) no-repeat -144px -797px;width: 98px;height: 35px;cursor: pointer;}
input.apply:active{background-position:-31px -797px;}

input.refund{background: url(../imgs/user_center.png) no-repeat -153px -1025px;width: 48px;height: 21px;cursor: pointer;}
input.refund:active{background-position:-217px -1025px;}

/*立即支付按钮*/
input.shopping_success_Btn{background: url('../imgs/pay_now.png') no-repeat -2px 0;width: 67px;height: 25px;line-height:25px;cursor: pointer;color:#fff;font-family:'宋体';font-size:12px;text-align:center;}
input.shopping_success_Btn:active{background-position:-79px 0;}

/*左侧菜单导航*/
.user_wrap .user_left{width:138px;float:left;margin-right:10px;}
.user_wrap .user_left a.home{width:100%;height:38px;line-height:38px;display:inline-block;text-decoration:none;border:solid 1px #ddd;color:#333;font-size:14px;font-family: '微软雅黑';font-weight: bold;background:url(../imgs/1.png) no-repeat 12px 5px;}
.user_wrap .user_left .home>span{padding-left:54px;}
.user_wrap .user_left .nav{width:100%;height:auto;border:solid 1px #ddd;border-bottom:none;margin-top:10px;}
.user_wrap .user_left .nav .menu{border-bottom:solid 1px #ddd;}
.user_wrap .user_left .nav .menu>dt{width:85.5%;height:30px;line-height:30px;background:#fafafa;padding:0 10px;font-family: '宋体';color:#333;font-size:12px;font-weight:bold;cursor: pointer;}
.user_wrap .user_left .nav .menu>dt .arrow{background:url(../imgs/user_center.png) no-repeat -39px -290px;width:8px;height:5px;float:right;margin-top:12px;}
.user_wrap .user_left .nav .menu>dt.hid .arrow{background:url(../imgs/user_center.png) no-repeat -64px -289px;width:5px;height:8px;}
.user_wrap .user_left .nav .menu>dd{width:71%;padding:10px 20px;}
.user_wrap .user_left .nav .menu>dd>ul>li{padding-bottom:7px;}
.user_wrap .user_left .nav .menu>dd>ul>li.last{padding-bottom:0px;}
.user_wrap .user_left .nav .menu>dd>ul>li>a{font-family: '宋体';color:#333;}
.user_wrap .user_left .nav .menu>dd>ul>li>a:hover{color:#c80a28;text-decoration: none;}
.user_wrap .user_left .nav .menu>dd>ul>li.on>a{color:#c80a28;}
.user_wrap .user_left .ad{width:140px;height:auto;overflow:hidden;}
.user_wrap .user_left .ad img{margin-top:10px;}

/*右侧内容*/
.user_wrap .user_right{width:840px;height:auto;float:left;font-family: '宋体';}
.user_wrap .user_right .red{color:#c80a28;}
.user_wrap .user_right .blue{color:#3366cc;}

.user_wrap .user_right h1.theme{width:100%;overflow:hidden;color:#c80a28;font-family: '微软雅黑';font-size:14px;font-weight: bold;padding-bottom:2px;border-bottom:solid 1px #c80a28;margin-bottom:8px;}
.user_wrap .user_right h1.theme>a{font-family: '宋体';font-size:12px;font-weight: normal;margin-top: 3px;}
.user_wrap .user_right h1.theme select{border:solid 1px #ddd;color:#333;width:123px;}
.user_wrap .user_right .user_txt{padding:10px 5px;color:#666;font-family: '宋体';border:solid 1px #ddd;margin-bottom:8px;}
.user_wrap .user_right .user_txt>p{line-height: 22px;}

.user_wrap .user_right .user_tips{height:30px;line-height:30px;background:#ffffe0;border:solid 1px #ddd;font-family: '宋体';color:#333;text-indent:8px;margin-bottom:20px;}
.user_wrap .user_right .user_tips>a{padding-right:8px;}


.user_wrap .user_right .lv{width:78px;height:16px;display:inline-block;margin-right:5px;float:left;}
.user_wrap .user_right .lv.lv0{background:url(../imgs/user_center.png) no-repeat -135px -67px;}
.user_wrap .user_right .lv.lv1{background:url(../imgs/user_center.png) no-repeat -25px -22px;}
.user_wrap .user_right .lv.lv3{background:url(../imgs/user_center.png) no-repeat -135px -22px;}
.user_wrap .user_right .lv.lv4{background:url(../imgs/user_center.png) no-repeat -239px -22px;}
.user_wrap .user_right .lv.lv5{background:url(../imgs/user_center.png) no-repeat -347px -22px;}
.user_wrap .user_right .lv.lv6{background:url(../imgs/user_center.png) no-repeat -239px -67px;}

/*搜索栏*/
.user_wrap .user_right .search{width:100%;margin-bottom:20px;font-family: '宋体';color:#333;}
.user_wrap .user_right .search span{display:inline-block;}
.user_wrap .user_right .search span input{width:380px;height:20px;line-height:20px;border:solid 1px #ddd;font-family: '宋体';color:#999;text-indent:5px;}
.user_wrap .user_right .search span input:focus{color:#333;}
.user_wrap .user_right .search .searchBtn{background:url(../imgs/user_center.png) no-repeat -62px -675px;width:53px;height:24px;vertical-align: top;margin-top:-1px;margin-left:4px; border:none;}
.user_wrap .user_right .search span.blue{margin-left:9px;cursor: pointer;height:14px;}
.user_wrap .user_right .search span.blue>img{vertical-align: top;margin-top:5px;}
/* .user_wrap .user_right .search .selList{width:100%;margin-top:20px;overflow:hidden;display:none;}
.user_wrap .user_right .search .selList>span{display:inline-block;float:left;margin-right:25px;}
.user_wrap .user_right .search .selList>span select{border:solid 1px #abadb3;height:20px;width:98px;}
 */
 
.user_wrap .user_right .th{height:28px;line-height:28px;border:solid 1px #ddd;background:#fafafa;font-family: '宋体';color:#333;margin-bottom:8px;}
.user_wrap .user_right .th>span{display:inline-block;text-align:center;}
.user_wrap .user_right .th>span select{width:100px;height:20px;margin-top:4px\0;}

/*订单列表*/
.user_wrap .user_right .order_list_null{height:30px;line-height:30px;border:solid 1px #ddd;text-align:center;font-family: '宋体';color:#666;border-top:none;margin:-8px 0 20px 0;}
.user_wrap .user_right .order_list_null>a{margin-right:8px;}
.user_wrap .user_right table.order_list{width:100%;border-collapse: collapse;border:0;font-family: '宋体';color:#333;}
.user_wrap .user_right table.order_list .order_th{height:30px;background:#fafafa;padding:0 10px;border: solid 1px #ddd;text-align:left;}
.user_wrap .user_right table.order_list .order_th.pro_null{background:#fff;}
.user_wrap .user_right table.order_list .order_th>span{margin-right:20px;}

.user_wrap .user_right  .kefu{position:relative;display:inline-block;}
.user_wrap .user_right  .kefu>span.icon{position:absolute;top:-1px;right:-23px;background:url(../imgs/user_center.png) no-repeat -54px -560px;width: 18px;height: 16px;;}

.user_wrap .user_right table.order_list td{border:solid 1px #ddd;border-top:none;text-align:center;}
.user_wrap .user_right table.order_list td.b1{border-right:none;}
.user_wrap .user_right table.order_list td.b2{border-left:none;border-right:none;}
.user_wrap .user_right table.order_list td.pro_name{padding:8px 10px 30px;text-align:left;}
.user_wrap .user_right table.order_list td.pro_name dt{float:left;margin-right:10px;}
.user_wrap .user_right table.order_list td.pro_name dt>img{border:solid 1px #ddd;}
.user_wrap .user_right table.order_list td.pro_name dd{float:left;width:69%;}
.user_wrap .user_right table.order_list td.pro_name dd>ul>li{line-height:19px;color:#333;font-family: '宋体';}
.user_wrap .user_right table.order_list td.pro_name dd>ul>li.name{height:38px;overflow:hidden;}
.user_wrap .user_right table.order_list td.pro_name dd>ul>li.color_size{color:#999;}
.user_wrap .user_right table.order_list td.pro_name dd>ul>li.color_size>span{margin-right:5px;}
.user_wrap .user_right table.order_list td.pro_price{font-family: 'arial',Tahoma,Microsoft YaHei,Helvetica,Sans-Serif;color:#333;font-size:14px;font-weight: bold;}
.user_wrap .user_right table.order_list td.pro_num{font-family: 'arial',Tahoma,Microsoft YaHei,Helvetica,Sans-Serif;color:#333;font-size:14px;font-weight: bold;}
.user_wrap .user_right table.order_list td.pro_code{}
.user_wrap .user_right table.order_list td.pro_sh{color:#999;line-height:21px;}
.user_wrap .user_right table.order_list td.pro_total{color:#999;}
.user_wrap .user_right table.order_list td.pro_total>.price{color:#333;font-family: 'arial',Tahoma,Microsoft YaHei,Helvetica,Sans-Serif;font-weight: bold;font-size: 14px;}
.user_wrap .user_right table.order_list td.pro_statue{line-height:20px;color:#C80A28;}
.user_wrap .user_right table.order_list td.pro_img{padding:20px 0px;}
.user_wrap .user_right table.order_list td.pro_stand{line-height: 21px;}
.user_wrap .user_right table.order_list td.pro_handle{}
.user_wrap .user_right table.order_list td.pro_handle input.zhifu{margin:10px 0;}
.user_wrap .user_right table.order_list td.pro_handle input.receiv{margin:10px 0;}
.user_wrap .user_right table.order_list td.pro_handle input.evaluate{margin:10px 0;}
.user_wrap .user_right table.order_list td.pro_anther{border:solid 1px #ddd;text-align:center;line-height:18px;color:#999;}
.user_wrap .user_right table.order_list tr.pro_null{background:#fafafa;}
.user_wrap .user_right table.order_list td.pro_anther .pro_null{background:url(../imgs/user_center.png) no-repeat -23px -714px;width:49px;height:25px;margin:6px 0;display:inline-block;}
.user_wrap .user_right table.order_list td.line{height:8px;border:none;}

/*退换货 服务单明细*/
.user_wrap .user_right .sever_mx{width:600px;overflow:hidden;background:#fff;position: fixed;z-index: 1002;top: 50%;margin-top: -200px;left: 50%;margin-left: -300px;}
.user_wrap .user_right .sever_mx::selection{background: #fff;}
.user_wrap .user_right .sever_mx>h1{height:28px;line-height:28px;border:solid 1px #ddd;color:#333;font-weight: bold;font-family: '宋体';text-indent:12px;background:#fafafa;}
.user_wrap .user_right .sever_mx>h1 .close{margin-right:5px;font-size:20px;cursor: pointer;color:#333;}
.user_wrap .user_right .sever_mx>h1 .close:hover{text-decoration: none;}
.user_wrap .user_right .sever_mx .info{padding:35px 50px;border:solid 1px #ddd;border-top:none;}
.user_wrap .user_right .sever_mx .info .item{margin-bottom:20px;width:100%;height:auto;overflow:hidden;}
.user_wrap .user_right .sever_mx .info .item .left{margin-right:15px;font-size:14px;text-align:right;width:84px;}
.user_wrap .user_right .sever_mx .info .item .right>span{display:inline-block;}
.user_wrap .user_right .sever_mx .info .item .right .btn{width:11px;height:11px;display:inline-block;vertical-align: middle;cursor: pointer;}
.user_wrap .user_right .sever_mx .info .item .right .btn.up{background:url(../imgs/user_center.png) no-repeat -120px -722px;}
.user_wrap .user_right .sever_mx .info .item .right .btn.down{background:url(../imgs/user_center.png) no-repeat -104px -722px;}
.user_wrap .user_right .sever_mx .info .item .right input.return_num{width:32px;height:18px;line-height:18px;border:solid 1px #a7a6aa;text-align:center;}
.user_wrap .user_right .sever_mx .info .item .right #sel_reason{width:147px;height:26px;line-height:26px;border:solid 1px #a7a6aa;}
.user_wrap .user_right .sever_mx .info .item.reason .left{line-height: 22px;}
.user_wrap .user_right .sever_mx .info .item.ques .right>textarea{width:362px;height:70px;border:solid 1px #a7a6aa;}
.user_wrap .user_right .sever_mx .info .item.ques .right>p{color:#666;line-height:21px;}
.user_wrap .user_right .sever_mx .info .item.type .right,.user_wrap .user_right .sever_mx .info .item.color .right,.user_wrap .user_right .sever_mx .info .item.size .right{margin-top:2px;}
.user_wrap .user_right .sever_mx .info .subBtn{background:url(../imgs/user_center.png) no-repeat -144px -797px;width:98px;height:35px;margin:10px 0 0 99px;display: inline-block;}
.user_wrap .user_right .sever_mx .info .subBtn:active{background:url(../imgs/user_center.png) no-repeat -31px -797px;}

/*退换货 服务说明 注意事项*/
.user_wrap .user_right .return_txt{margin-top:8px;padding:12px 25px;border:solid 1px #ddd;overflow:hidden;}
.user_wrap .user_right .return_txt .user_txt{border:none;padding:0;}
.user_wrap .user_right .return_txt h1{color:#c80a28;font-size:12px;font-weight: bold;font-family:'宋体';margin-bottom:12px;}

/*退换货 进度信息*/
.user_wrap .user_right .plan_txt{border:solid 1px #ddd;margin:20px 0;padding:35px 0;}
.user_wrap .user_right .plan_txt h1{font-size:18px;font-family: '微软雅黑';color:#333;font-weight: bold;height:32px;line-height:32px;vertical-align: top;margin-bottom:45px;text-align:left;}
.user_wrap .user_right .plan_txt h1>span.icon{background:url(../imgs/user_center.png) no-repeat -273px -623px;width:32px;height:32px;display: inline-block;margin-right:12px;}
.user_wrap .user_right .plan_txt h1>span.icon.finish{background:url(../imgs/user_center.png) no-repeat -227px -623px;}
.user_wrap .user_right .plan_txt .con{margin-left:200px;}
.user_wrap .user_right .plan_txt .con p{color:#666;font-family: '宋体';font-size:12px;margin-bottom:15px;text-align:left;}

/*分页*/
.user_wrap .pagebar{text-align:center;width:100%;color:#999;margin-top:28px;}
.user_wrap .pagebar .total{margin-right:5px;}
.user_wrap .pagebar>a{padding:4px 8px;border:solid 1px #ddd;display:inline-block;margin-right:6px;color:#333; text-decoration:none;}
.user_wrap .pagebar>a.upBtn{background:#fafafa;}
.user_wrap .pagebar>a.downBtn{background:#fafafa;} 
.user_wrap .pagebar .page_now{padding:4px 8px;border:solid 1px #ddd;display:inline-block;margin-right:6px;color:#333;background:#fafafa;}
.user_wrap .pagebar>form{display:inline;margin-top:28px;font-family: '宋体';}
.user_wrap .pagebar input.toNum{width:44px;height:20px;line-height:20px;border:solid 1px #ddd;text-align:center;color:#999;}
.user_wrap .pagebar input.toNum:focus{color:#333;}
.user_wrap .pagebar .submitBtn{background:url(../imgs/user_center.png) no-repeat -33px -759px;width:46px;height:20px;display:inline-block;margin-left:10px;vertical-align: top;margin-top:2px;}


/*我的特权 推荐有礼 积分规则 公共*/
#tqjf_part{overflow:hidden;padding-left:15px;}
#tqjf_part .tqjf_txt { width:88%; color:#666666; font-size:12px;overflow:hidden; }
#tqjf_part .tqjf_txt p { line-height: 25px; width: 100%;overflow:hidden; }
#tqjf_part .tqjf_txt p>a { color:#c20a28; text-decoration: underline; }
#tqjf_part p.p_blank { line-height: 20px; width:100%; overflow:hidden; }
#tqjf_part p.p_red { color:#c80a28; font-size:12px; font-family: 'Microsoft YaHei'; }
#tqjf_part p.p_strong { font-weight: bold; }
#tqjf_part h1.tqjf_h { font-size:12px; color:#333333; font-weight:bold; padding: 10px 0 5px 0; width:100%; overflow: hidden; }
#tqjf_part h2.tqjf_h { font-size:18px; color:#333333; font-weight:bold; padding: 10px 0 15px 0; width:100%;overflow: hidden; }
#tqjf_part .tqjf_border { width:98%;overflow:hidden;height:auto; border:solid 1px #e6e6e6;}

/*我的积分 我的优惠券 我的包邮卡公共部分*/
.table_pdiv { width:100%; height:auto;color:#666666; font-family: '微软雅黑'; border-bottom:solid 1px #eee;padding-bottom:5px; }
.table_pdiv .table_type2 { width:100%;height:auto;}
.table_pdiv .table_type2 table { border:solid 1px #ddd; }
.table_pdiv .table_type2 table tr.th { background: #fafafa; height:33px; line-height:33px; color:#666; }
.table_pdiv .table_type2 table tr.th th { border:solid 1px #e6e6e6; text-align: center; text-indent: 0px; }
.table_pdiv .table_type2 table td { text-align: center; border:solid 1px #ddd; border-top:none; height:37px; text-indent: 0px; }
.table_pdiv .table_type2 table td.num { font-size:20px; font-family: 'Arial'; }
.table_pdiv .table_type2 table td.num.red { color:#c80a28; }
.table_pdiv .table_type2 table td.num.green { color:#288c29; }
.table_pdiv .table_type2 td.item_none { text-align: center; text-indent: 15px; }
  /*添加序列号*/
.user_wrap .user_right .add_serialNum{width:100%;overflow:hidden;margin-top:10px;height:80px;background:#fafafa;font-family: '微软雅黑';font-size:14px;line-height:80px;}
.user_wrap .user_right .add_serialNum .arrow{color:#333;font-size:35px;font-weight: bold;margin:0 5px 0 30px;float:left;margin-top:-2px;}
.user_wrap .user_right .add_serialNum .bn_code{width:282px;height:22px;line-height:22px;text-indent: 5px;margin-left:10px;}
.user_wrap .user_right .add_serialNum .sub_btn{width:77px;height:22px;line-height:22px;color:#fff;background:#c80a28;font-size:12px;border-radius: 3px;margin-left:5px;cursor:pointer;}


/**我的订单**/
#myOrder{width:100%;overflow:hidden;}
#myOrder h1.theme>a{margin-right:30px;position:relative;}
#myOrder h1.theme>a span.img1{position:absolute;left:-17px;top:1px;background:url(../imgs/user_center.png)  no-repeat -22px -610px;width:11px;height:12px;}
#myOrder h1.theme>a span.img2{position:absolute;right:-28px;top:2px;background:url(../imgs/user_center.png) no-repeat -23px -680px;width:21px;height:10px;}

/*订单详情*/
#order_detail .user_left{ display:none;}
#order_detail .user_right{width:100%;overflow:hidden;}
#order_detail .tips{ border:solid 1px #f9dfb2;background:#ffffe0;padding:0 8px 0 0;overflow:hidden;margin-bottom:30px;}
#order_detail .tips .item{height:40px;line-height:40px;width:100%;overflow: hidden;font-family: '宋体';color:#666;font-size:12px;text-indent: 5px;}
#order_detail .tips .item.it02{border-top:dotted 1px #cdcda4;}
#order_detail .tips .item.it01>span{margin-right:48px;}
#order_detail .tips .item.it01>span.btns{/* line-height:0px; */}
#order_detail .tips .item.it01>span .link{font-weight: normal;font-size:12px;color:#666;}
#order_detail .tips .item.it01{color:#333;font-size:14px;font-weight: bold;}
#order_detail .tips .item.it01 input.zhifu{margin-top:8px;}
#order_detail .tips .item.it01 input.receiv{margin: 8px 0;}
#order_detail .tips .item.it01 input.shopping_success_Btn{margin-top:8px;}
#order_detail .tips .item.last{border:none;}

#order_detail .info{width:100%;overflow:hidden;}
#order_detail .info>h1{color: #c80a28;font-family: '微软雅黑';font-size: 14px;font-weight: bold;padding-bottom: 2px;}
#order_detail .info>.con{padding:15px 20px;border:solid 1px #ddd;border-top:solid 1px #c80a28;overflow:hidden;}
#order_detail .info>.con .part{color:#333;font-size:12px;font-family: '宋体';padding-bottom:10px;}
#order_detail .info>.con .part .list{ overflow:hidden;/* height:40px; */line-height: 40px;}
#order_detail .info>.con .part .list .lef{width:78px;font-weight: bold;text-align:left;overflow:hidden;}
#order_detail .info>.con .part .list .rig{width:91.6%;text-indent:10px;overflow:hidden;}
#order_detail .info>.con .part.p1{border-bottom:solid 1px #ddd;}
#order_detail .info>.con .part.p2 .list .rig{border-bottom:solid 1px #ededed;}
#order_detail .info>.con .part .list .rig>span{margin-right:58px;}
#order_detail .info>.con .part .list .rig input.pay_way_btn{background: url(../imgs/user_center.png) no-repeat -33px -759px;width: 46px;height: 20px;display: inline-block;margin-left: 10px;vertical-align: top;margin-top: 2px;cursor:pointer;}
#order_detail .info .next_line { margin-top:10px;}

#order_detail .th{margin-bottom:0;background:#e8f2ff;}
#order_detail table.order_list td{line-height:20px;}
#order_detail table.order_list td.pro_name{padding-top:30px;}
#order_detail table.order_list td.pro_name dd{margin-top:8px;}

#order_detail .info .con .sum{margin:25px 0 0 0;}
#order_detail .info .con .sum table{border-collapse: collapse;border-spacing: 0;font-size: 12px;color:#333;font-family: '宋体';}
#order_detail .info>.con .sum table td{height:25px;}
#order_detail .info>.con .sum table td.lef{text-align: right;}
#order_detail .info>.con .sum table td.rig{font-family: '微软雅黑';}
#order_detail .info>.con .sum table tr.total td{height:54px;}
#order_detail .info>.con .sum table tr.total td.rig{font-size:16px;color:#c80a28;}

#order_detail .car_box{padding:0 17px;}
#order_detail .mod .con .pros{width:88%;margin:0 58px;}
#order_detail .mod .con>h1,#my_logistics .mod .con>h1{font-size:12px;font-family: '宋体';font-weight: bold;padding:25px 0 0 20px;}

/**回收站**/
#recycle{width:100%;overflow:hidden;}
#recycle h1.theme>a{margin-right:16px;}

/**我的收藏夹**/
#myCollect{width:100%;overflow:hidden;}
#myCollect .sort_bar{height:32px;line-height:32px;margin-top:20px;border:solid 1px #ddd;color:#666;font-family: '宋体';background:#fafafa;}
#myCollect .sort_bar>ul>li{float:left;padding:0 15px;border-right:solid 1px #ddd;position:relative;cursor:pointer;}
#myCollect .sort_bar>ul>li:hover,#myCollect .sort_bar>ul>li.current{background:#e7e7e7;}
#myCollect .sort_bar>ul>li em{position:absolute;color:#fff;background:url(../imgs/user_center.png) no-repeat -172px -630px;width:21px;height:21px;line-height:22px;text-align:center;top:-14px;right:0px;}
#myCollect .sort_bar>ul>li.desc em{background:url(../imgs/user_center.png) no-repeat -55px -610px;width:7px;height:8px;top:0px;right:-4px;position:relative;display:inline-block;}
#myCollect .sort_bar>ul>li.asc em{background:url(../imgs/user_center.png) no-repeat -72px -610px;width:7px;height:8px;top:0px;right:-4px;position:relative;display:inline-block;}
#myCollect .con{width:100%;overflow:hidden;margin-top:20px;}
#myCollect .con .div_allchk{width:100%;margin-bottom:20px;vertical-align: top;}
#myCollect .con .div_allchk #sel_all{margin-right:8px;float:left;}
#myCollect .con .div_allchk>a.del{color:#999;vertical-align: top;margin-left:15px;}
#myCollect .con .div_allchk>a.del i{background:url(../imgs/user_center.png) no-repeat -24px -630px;width:9px;height:12px;display:inline-block;margin-right:8px;vertical-align: top;margin-top: 1px;}
#myCollect .con .div_allchk>a.del.chk i{background:url(../imgs/user_center.png) no-repeat  -24px -648px;margin-top: 1px;}
#myCollect .con .div_allchk>a.del.chk{color:#333;}

.collect_box{width:104%;height:auto;overflow:hidden;}
.collect_box>li{float:left;width:186px;margin:0 32px 30px 0;}
.collect_box>li .img{ height:266px;overflow:hidden;}
.collect_box>li  .img img{width:186px;}
.collect_box>li .name{height:20px;line-height:20px;overflow:hidden;margin-top:8px;color:#666;vertical-align: top;}
.collect_box>li .name>a{vertical-align: top;}
.collect_box>li .price{height:18px;font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;margin-top:5px;text-align:center;}
.collect_box>li .price>span.arrow{background:#62d177;height:17px;line-height:17px;width:auto;color:#fff;display:inline-block;padding:0px 8px;font-family: 'arial';}
.collect_box>li .price .new_price{font-family: arial;font-weight: bold;font-size:14px;color:#c80a28;margin-left:5px; }
.collect_box>li .price .new_price .rmb{font-family: '微软雅黑';font-weight: normal;font-size:12px;}
.collect_box>li .price .old_price{font-family: '微软雅黑';margin-left:5px;color:#999;}
.collect_box>li .icon{text-align:center;color:#ddd;height:15px;vertical-align: top;margin-top:12px;}
.collect_box>li .icon>a{display:inline-block;margin:0 10px 0 6px;}
.collect_box>li .icon>a.icon1{background:url(../imgs/user_center.png) no-repeat -24px -630px;width:9px;height:12px;}
.collect_box>li .icon>a.icon2{background:url(../imgs/user_center.png) no-repeat -58px -630px;width:13px;height:12px;}
.collect_box>li .icon>a.icon3{background:url(../imgs/user_center.png) no-repeat -96px -630px;width:14px;height:12px;}
.collect_box>li .icon>a.icon1:hover{background:url(../imgs/user_center.png) no-repeat -24px -648px;}
.collect_box>li .icon>a.icon2:hover{background:url(../imgs/user_center.png) no-repeat -58px -648px;}
.collect_box>li .icon>a.icon3:hover{background:url(../imgs/user_center.png) no-repeat -96px -648px;}
.collect_box>li .icon_unhappy {background:url(../imgs/unhappy.png) no-repeat;  text-indent:20px;height:17px;display:inline-block;  }

#ajax_goods_sku .goods_attr{ overflow:hidden; margin-bottom:8px;}
#ajax_goods_sku .goods_attr .label {font: 12px/27px '宋体';color: #777;width:70px;letter-spacing:23px; float: left; display:block; position:relative;}
#ajax_goods_sku .goods_attr .label b {position:absolute;right:10px;letter-spacing:0px;top:0px;font-weight:normal;}
#ajax_goods_sku .goods_attr ul {float:left; }

#ajax_goods_sku .goods_attr li{color:#333;overflow:hidden;position:relative;margin-right:10px;margin-bottom:2px;float:left;text-align:center; vertical-align:middle; border:1px solid #DDD;text-indent:0; cursor:pointer}
#ajax_goods_sku .goods_attr li.b{border:1px dotted #CCC;color:#DDD; pointer:none;}
#ajax_goods_sku .goods_attr li.b img {opacity:0.4;}
#ajax_goods_sku .goods_attr li.sel{ border:1px solid #c80a28;color:#333;}
#ajax_goods_sku .goods_attr li.sel s{width:16px;height:16px;background:url(../imgs/selected.png) no-repeat; position:absolute; right:0;bottom:0;}
#ajax_goods_sku .goods_attr.text li{  height:23px;line-height:23px;text-indent:0;padding:0 23px;font-style:normal;}
#ajax_goods_sku .goods_attr.img li{ width:35px;height:35px; line-height:35px;text-align:center;}
#ajax_goods_sku .goods_attr.img .label{ line-height:40px;}
#ajax_goods_sku .op{ margin-bottom:8px;}
#ajax_goods_sku .op label{font: 12px/27px '宋体';color: #777;width:70px;  float: left; display:block; position:relative;}
#ajax_goods_sku .op input{width:70px; height:25px;text-indent:1em;}

/**退换货申请**/
#return_apply{width:100%;overflow:hidden;}
#return_apply .th{height:28px;margin-bottom:0;}
#return_apply tr.return{height:90px;text-align:center;font-size:20px;font-family:'微软雅黑';color:#393939;font-weight: bold;}
#return_apply tr.return img{margin:0 8px;}
#return_apply tr.return input.cancle1{padding-bottom:3px;}
#return_apply tr td.line{border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;height:10px;}
#return_apply tr.btn td{height:96px;border:none;}
#return_apply tr.btn input.apply{margin-right:18px;}
#return_apply .user_tips{margin:20px 0 0 0;}
#return_apply .user_tips>a{padding-right:26px;}
#return_apply .item.type .right>span{margin-right:30px;}
#return_apply .item.size .right>span{margin-right:20px;}

/*退款申请*/
#refund_apply .th{height:28px;margin-bottom:0;}
#refund_apply .btns{padding:30px 0;width:100%;text-align:center;vertical-align:middle;}
#refund_apply .sever_mx{width:100%;overflow: hidden;background: #fff;margin:20px 0 0 0;position:relative;top:0;left:0;}

/**退换货进度**/
#return_plan{width:700px;overflow:hidden;margin:0 auto;}
#return_plan .user_tips{margin: 20px 0 0 0;}
#return_plan .user_tips>a {padding-right: 23px;}
#return_plan .plan_txt{text-align:center;}
#return_plan .kefu>span.icon{top:-11px;}
#return_plan .plan_bar{width: 700px;height: 25px;margin-top:22px;}
#return_plan .plan_bar.return.bar1{background:url(../imgs/33.png) no-repeat -49px -32px;}
#return_plan .plan_bar.return.bar2{background:url(../imgs/33.png) no-repeat -49px -75px;}
#return_plan .plan_bar.return.bar3{background:url(../imgs/33.png) no-repeat -49px -117px;}
#return_plan .plan_bar.change.bar1{background:url(../imgs/33.png) no-repeat -49px -208px;}
#return_plan .plan_bar.change.bar2{background:url(../imgs/33.png) no-repeat -49px -251px;}
#return_plan .plan_bar.change.bar3{background:url(../imgs/33.png) no-repeat -49px -293px;}
#return_plan .plan_bar.money.bar1{background:url(../imgs/33.png) no-repeat -49px -380px;}
#return_plan .plan_bar.money.bar3{background:url(../imgs/33.png) no-repeat -49px -424px;}
#return_plan .wl_form{margin-left:17px;}
#return_plan .wl_form input[type="submit"]{background:url('../imgs/user_center.png') no-repeat -156px -310px;width: 49px;height: 25px;margin:5px 0 0 60px;}
#return_plan .wl_form input[type="submit"]:active{background:url('../imgs/user_center.png') no-repeat -210px -310px;}
#return_plan #wl_name{width:111px;height:25px;border:solid 1px #ddd;}
#return_plan #wl_code{width:158px;height:22px;line-height:22px;border:solid 1px #ddd;}
#return_plan p.re_money>a{margin-left:25px;}

/**我的退换货**/
#myReturn{width:100%;overflow:hidden;}
#myReturn .user_tips{margin: 20px 0 0 0;}
#myReturn .user_tips>a {padding-right: 26px;}
#myReturn table.order_list{margin-bottom:20px;}
#myReturn table.order_list td.pro_name{padding:0 20px;}
#myReturn .order_list_null{margin: 0px 0 20px 0;}
#myReturn .th{margin-bottom:0;}
#myReturn table.order_list tr{height:30px;}

/**促销信息退订**/
#saleInfoRtn{width:100%;overflow:hidden;margin:15px auto;width:696px;}
#saleInfoRtn .mod{overflow:hidden;margin-bottom:20px;}
#saleInfoRtn p{line-height:22px;}
#saleInfoRtn .mod>h1{font-family: '微软雅黑';font-size:14px;color:#333;font-weight: bold;margin-bottom:10px;}
#saleInfoRtn .mod .user_txt{margin-bottom:0px;}
#saleInfoRtn .mod .user_txt .item{width:560px;height:auto;margin:30px 0 36px 60px;font-family: '宋体';color:#333;}
#saleInfoRtn .mod .user_txt .item h2{font-size:14px;width:100px;margin:0 0px 12px 0;}
#saleInfoRtn .mod .user_txt .item .span_fl{width:102px;margin-right:15px;display:inline-block;}
#saleInfoRtn .mod .user_txt .item .txt_return{width:338px;height:25px;line-height:25px;border:solid 1px #ddd;}
#saleInfoRtn .mod .user_txt .item .btn_send{width:42px;height:24px;line-height:24px;background:#c80a28;color:#fff;cursor: pointer;}
#saleInfoRtn .mod .user_txt .item.item1{border-bottom:dashed 1px #ddd;padding-bottom:50px;}

/**评论**/
#discuss{width:100%;overflow:hidden;}
#discuss .top_img{background:url(../imgs/1.jpg) no-repeat;width:100%;height: 100px;position:relative;margin-bottom:20px;}
#discuss .top_img>a{width:53px;height:30px;position: absolute;bottom:13px;left:304px;}
#discuss table.order_list td.pro_name img{border:solid 1px #ddd;}
#discuss table.order_list td.pro_name>ul{width:216px;overflow:hidden;margin:12px auto;}
#discuss table.order_list td.pro_name>ul>li{line-height:22px;color:#393939;font-family: '宋体'}
#discuss table.order_list td.pro_name>ul>li.color{line-height:25px;color:#7b7b7b;}

#discuss table.order_list td.add_discuss{padding:38px 0 0 38px;}
#discuss table.order_list td.add_discuss dl{display:block;float:left;width:100%;margin-bottom:25px;color:#666;font-family: '宋体';}
#discuss table.order_list td.add_discuss dt{float:left;line-height:20px;}
#discuss table.order_list td.add_discuss dd{float:left;line-height:20px;position:relative;}
#discuss table.order_list td.add_discuss dd>span{margin-right:10px;display:inline-block;}
#discuss table.order_list td.add_discuss dd input[type="radio"]{margin-top:3px;}
#discuss table.order_list td.add_discuss dd input[type="text"]{width:38px;height:18px;line-height:18px;text-align:center;border:solid 1px #ddd;}
#discuss table.order_list td.add_discuss dd textarea{width:364px;height:73px;border:solid 1px #ddd;}
#discuss table.order_list td.add_discuss ul.star{background:url(../imgs/star.png) repeat-x;height:20px;width:120px;}
#discuss .redStar{width:0px;height:18px;position:absolute;background:url(../imgs/star.png) repeat-x -1px -26px;left:1px;top:1px;z-index:2;}
#discuss table.order_list td.add_discuss ul.star>li{float:left;width:24px;height:20px;cursor: pointer;position:relative;z-index:4;}
#discuss table.order_list td.add_discuss ul.star>li:hover{background:url(../imgs/star.png) repeat-x 0px -25px;}

#discuss table.order_list td.pro_name{padding:25px 10px;}
#discuss table.order_list td.pro_name dd{width:57%;margin-top:20px;}
#discuss table.order_list td.pro_discuss{padding:38px 0 10px 38px;text-align:left;}
#discuss table.order_list td.pro_discuss>ul{width:100%;}
#discuss table.order_list td.pro_discuss>ul>li{margin-bottom:10px;width:100%;float:left;min-height:21px;line-height:21px;}
#discuss table.order_list td.pro_discuss>ul>li>span{display:inline-block;float:left;color:#666;font-family: '宋体';}
#discuss table.order_list td.pro_discuss>ul>li>span.pl_con{width:350px;color:#333;font-size:14px;}

#discuss td.line{height:20px;}
#discuss .save{background:url(../imgs/user_center.png) no-repeat -148px -869px;width: 98px;height: 35px;margin:25px 0 0 290px;}
#discuss .save:active{background:url(../imgs/user_center.png) no-repeat -28px -869px;}

/*我的特权*/
#user_tq{width:100%;overflow:hidden;font-family: 'Microsoft YaHei';}
#user_tq  .tqjf_border{padding: 15px 0 20px 40px;}
#user_tq .user_score_img { width:118px; float:left; height:auto; }
#user_tq .user_score_info { width:40%; float:left; height:auto; }
#user_tq .txt_red { color: #c20a28; font-size:12px; padding:0 3px; }
#user_tq .user_score_info .user_score_info_li { margin:5px 5px; }
#user_tq .vip_level1 { background:url(../imgs/tq.png) no-repeat -35px -368px; width: 95px; height: 30px; margin-bottom:5px; }
#user_tq .vip_level2 { background: url('../imgs/tq.png') no-repeat -147px -368px; width: 95px; height: 30px; margin-bottom:5px; }
#user_tq .vip_level3 { background: url('../imgs/tq.png') no-repeat -260px -368px; width: 95px; height: 30px; margin-bottom:5px; }
#user_tq .vip_level4 { background: url('../imgs/tq.png') no-repeat -372px -368px; width: 95px; height: 30px; margin-bottom:5px; }
#user_tq .vip_level { background: url('../imgs/tq.png') no-repeat -30px -170px; width: 649px; height: 58px; }
#user_tq .vip_level_info { width:649px; float:left; }
#user_tq .vip_level_info li { float:left; width:15%; margin:10px 11% 0 10px; }
#user_tq .get_changevalue { background: url('../imgs/tq.png') no-repeat -32px -264px; width: 461px; height: 66px; float:left; margin:10px 0; }
#user_tq .user_score_table td{vertical-align: top; padding-top:15px; }
#user_tq .table_pdiv{border:none;padding-bottom:0px;}
#user_tq .table_pdiv .table_type2{width:95%;margin:10px 0 0 15px;}
#user_tq .table_pdiv .table_type2 table tr.th{height:66px;background:#fff;}
#user_tq .table_pdiv .table_type2 table tr td{text-indent: 0px;vertical-align:top;padding:15px 0;}
#user_tq .table_pdiv .table_type2 table tr td>p{line-height:25px;}

/**我的积分**/
#my_integral{width:100%;overflow:hidden;font-family: 'Microsoft YaHei';}
.user_score_tab { width:100%; overflow:hidden; font-family: '微软雅黑'; color:#565656; border-bottom:solid 2px #7b7b7b; margin:20px 0 10px 0; }
.user_score_tab>span { display:block; float:left; height:32px; line-height:32px; padding:0 20px 0 20px; border-right:#e6e6e6 1px solid; text-align: center; font-size: 14px; font-weight: bold; }
.user_score_tab>ul { width:80%; float:left; list-style:none; }
.user_score_tab>ul li { float:left; height:32px; line-height:32px; padding:0 20px 0 20px; border:#dddcdc 1px solid; border-left:none; border-bottom:none; text-align:center; }
.user_score_tab>ul li.current { background:#7b7b7b; color:#fff; }
.user_score_infos { width:100%;overflow:hidden; margin:10px 0; }
.user_score_infos .list1 { width:100%; float:left; color:#333333; }
.user_score_infos .list1>a { color:#c20a28; text-decoration: underline; }
.user_score_infos .list2 { height:24px; line-height:24px; color:#333333; background:#fef8e0; min-width:278px; float:left; text-indent: 15px; border:solid 1px #e5cd96; margin-top:15px; }
.user_score_infos_ul { width:99.8%; float:left; list-style: none; padding:10px 0; border:solid 1px #dddcdc; background:#F3F3F3; }
.user_score_infos .score_num { font-family: 'Arial'; font-size:20px; color:#c80a28; }
#my_integral .pager{text-align:left;}

/*积分规则*/
#user_jfgz{width:100%;overflow:hidden;font-family: 'Microsoft YaHei';}

/*推荐有礼*/
#user_tjyl{width:100%;overflow:hidden;font-family: 'Microsoft YaHei';}
#user_tjyl .tqjf_border{padding: 5px 0 20px 0px;border:none;}
#user_tjyl .user_txt{font-family: 'Microsoft YaHei';}
#user_tjyl .user_txt>h2{font-size:14px;font-weight: bold;color:#333;}

#user_tjyl .friend_table { width:340px; height:auto; float:left; }
#user_tjyl .friend_table td.td1 { width:95px; height:33px; text-align:right; padding-right:5px; }
#user_tjyl .friend_table input.fried_txt { width: 145px; height: 25px; line-height: 25px; font-size: 13px; background: #fff; border: #ddd 1px solid; font-family: 'Microsoft YaHei'; color: #393939; }
#user_tjyl .friend_btn { width:64px; height:22px; line-height: 22px; background: #c80a28; text-align: center; color:#fff; cursor: pointer;  }
#user_tjyl .friend_btn.copy { width:65px; height:30px; line-height:30px; float:left; margin-left:10px;}
#user_tjyl .friend_url { width:100%; float:left; margin:10px 0; }
#user_tjyl .friend_url>span { float:left; height:25px; line-height:25px; }
#user_tjyl .fried_url_txt { width:527px; height:25px; line-height: 25px; font-size: 13px; background: #fff; border: #ddd 1px solid; font-family: 'Microsoft YaHei'; color: #393939; float:left; }


#user_tjyl .table_pdiv{width:95%;margin-top:20px;border-bottom: none;}
#user_tjyl .table_pdiv .table_type2 .div_theme{margin-bottom:5px;display:block;overflow:hidden;}
#user_tjyl .table_pdiv .table_type2 .div_theme>h1{color:#333;font-size:14px;font-weight:bold;}
#user_tjyl .table_pdiv .table_type2 .div_theme>span{margin-top:5px;}
#user_tjyl .table_pdiv .table_type2 table tr.th{background:#fff;}

/*分享有礼 */
.share-con { height:38px; overflow:hidden; padding-left:10px; }
.share-con span.tit { float:left; line-height:38px; }
.share-con a, .share-con a span { height:16px; width:16px; display:block; float:left; overflow:hidden; }
.share-con a { padding:3px; border:solid 1px #fff; margin-top:7px; }
.share-con a span { background-image:url(../imgs/share-icon.gif); background-repeat:no-repeat; cursor:pointer; }
.share-con a:hover { opacity:0.7; filter:alpha(opacity=70); border:solid 1px #ddd; }
.share-con a span.copylink { background-position:0 0; }
.share-con a span.tengxunweibo { background-position:0 -16px; }
.share-con a span.xinlang { background-position:0 -32px; }
.share-con a span.sohu { background-position:0 -48px; }
.share-con a span.wangyi { background-position:0 -64px; }
.share-con a span.qqzone { background-position:0 -80px; }
.share-con a span.qqpengyou { background-position:0 -96px; }
.share-con a span.renren { background-position:0 -112px; }
.share-con a span.kaixin { background-position:0 -128px; }
.share-con a span.taojianghu { background-position:0 -144px; }
.share-con a span.douban { background-position:0 -160px; }
.share-con a span.baidusoucang { background-position:0 -176px; margin-right:0px; }

/**我的包邮卡**/
#my_byCard{width:100%;overflow:hidden;font-family: 'Microsoft YaHei';}
#my_byCard .pager{text-align:left;}

/**我的优惠券**/
#my_bouns{width:100%;overflow:hidden;font-family: 'Microsoft YaHei';}
#my_bouns .table_pdiv .table_type2 td.del>span{color:#999;}
#my_bouns .pager{text-align:left;}

/*基本资料*/
#user_info{width:100%;overflow:hidden;}
#user_info .info{padding:15px 0 0 50px;}
#user_info .info>p{font-family: '微软雅黑';font-size:14px;color:#333;font-weight: bold;text-indent: 15px;}
#user_info .info .info_forms{padding:40px 0;}
#user_info .info .item{margin-bottom: 26px;width: 100%;height: auto;overflow: hidden;}
#user_info .info .item .left{min-width:70px;font-size: 12px;text-align:left;width: 84px;line-height: 18px;}
#user_info .info .item .right a.update_img{width:120px;height:32px;line-height:32px;text-align:center;display: inline-block;}
#user_info .info .item .right input.txt_k{width:177px;height:20px;line-height:20px;border:solid 1px #ddd;}
#user_info .info .item .right>span{margin-right:10px;display: inline-block;}
#user_info .info .item .right #sel_year{width:73px;height:23px;line-height:23px;border:solid 1px #ddd;}
#user_info .info .item .right #sel_month,#user_info .info .item .right #sel_day{width:57px;height:23px;line-height:23px;border:solid 1px #ddd;}
#user_info .info .item .right #sel_province,#user_info .info .item .right #sel_city,#user_info .info .item .right #sel_area{width:min-width:73px;height:23px;line-height: 23px;border:solid 1px #ddd;}
#user_info .info .item .right .txt_address{width:313px;height:20px;line-height: 20px;}
#user_info .info input[type=submit].save_btn{margin-left:15px;}
#user_info .user_txt{border:none;}

/*修改密码*/
#user_pswd{width:100%;overflow:hidden;}
#user_pswd .info{padding:15px 0 0 155px;}
#user_pswd .info>p{font-family: '微软雅黑';font-size:14px;color:#333;font-weight: bold;text-indent: 15px;}
#user_pswd .info .info_forms{padding:10px 0;}
#user_pswd .info .item{margin-bottom: 26px;width: 100%;height: auto;overflow: hidden;}
#user_pswd .info .item .left{min-width:70px;font-size: 12px;text-align:right;width: 84px;line-height: 18px;margin-right:10px;line-height: 23px;}
#user_pswd .info .item .right input[type=text].txt_pswd{width:180px;height:23px;line-height:23px;border:solid 1px #ddd;}
#user_pswd .info input[type=submit].save_btn {margin-left: 95px;}

/*修改头像*/
#upd_hImg{width:100%;overflow:hidden;}
#upd_hImg .imgs{padding:22px 0 0 50px;}
#upd_hImg .imgs span.file{background-size:cover;background-position: center center;vertical-align: bottom;display: inline-block;margin-right: 30px;border:solid 1px #ddd;}
#upd_hImg .upload{padding:18px 0 0 50px;color:#666;font-family: '宋体';}
#upd_hImg .upload .upd_img{margin-left:10px;}
#upd_hImg .upload input[type=submit].save_btn{vertical-align: bottom;}

/**地址管理**/
#my_address{width:100%;float:left;font-family: 'Microsoft YaHei';}
#my_address .table_pdiv{border-bottom:none;}
#my_address .table_pdiv .table_type2 td.handle{text-align:left;padding:0 10px;}
#my_address .table_pdiv .table_type2 td.handle  span.updel{display:inline-block;position:relative;}
#my_address .table_pdiv .table_type2 td.handle .if_tc{background:url(../imgs/user_center.png) no-repeat -140px -499px;width: 192px;height: 59px;position:absolute;right:0px;top:-67px;text-align:center;padding-top:18px;}
#my_address .table_pdiv .table_type2 td.handle .if_tc  .close{display:inline-block;position:absolute;background:url(../imgs/user_center.png) no-repeat -356px -499px;width:15px;height:15px;right:6px;top:4px;}
#my_address .table_pdiv .table_type2 td.handle .if_tc>p{width:100%;line-height:23px;color:#666;}
#my_address .table_pdiv .table_type2 td.handle .if_tc>p>a{color:#c80a28;padding:0 3px;}
#my_address .table_pdiv .table_type2 .v_line{width: 1px;height: 12px;border-right: solid 1px #ddd;display: inline-block;margin: 3px 5px 0 5px;}
#my_address .pager{text-align: left;}
#my_address .cpm .con .info{padding:20px 40px;overflow:hidden;}
#my_address .cpm .con .info .item{width:100%;overflow:hidden;margin-bottom:10px;height:29px;line-height: 29px;}
#my_address .cpm .con .info .item .left{width:72px;text-align:right;margin-right:5px;}
#my_address .cpm .con .info .item .txt_info{width:193px;height:26px;line-height:26px;border:solid 1px #ddd;}
#my_address .cpm .con .info .item .ades_info{width:315px;}
#my_address .cpm .con .info .btns{padding-left:72px;height:auto;overflow:hidden;width:100%;line-height: 33px;margin-top:20px;}
#my_address .cpm .con .info .btns input{margin: 0 5px 0 10px;}
#my_address .cpm .con .info .btns .ckb_default{vertical-align: bottom;margin-top:10px;}

/**SVIP会员卡激活**/
#my_SVIP{width:100%;overflow:hidden;font-family: 'Microsoft YaHei';}
#my_SVIP .user_txt{width:625px;border:none;margin:35px auto;}
#my_SVIP .user_txt .active_code{width:155px;height:22px;line-height:22px;border:solid 1px #ddd;}
#my_SVIP .user_txt .active_btn{background:#c80a28;width:124px;height:31px;line-height: 31px;color:#fff;border-radius:3px;cursor:pointer;}

/*物流动态*/
#my_logistics{width:100%;overflow:hidden;}
#my_logistics .info{width:195px;border:solid 1px #ddd;float:left;background:#fafafa;text-indent:5px;margin-right:19px;}
#my_logistics .info li{height:39px;line-height:39px;color:#333;font-family: '宋体';font-size:12px;border-bottom:dotted 1px #ddd;}
#my_logistics .info li.last{border:none;}
#my_logistics .user_right{width:774px;float:left;}
#my_logistics .user_right h1.theme{margin-bottom: 0px;}
#my_logistics .user_right .order_list_null{margin-top:0px;}
#my_logistics .user_right table.order_list td{height:34px;line-height: 34px;text-align: left;text-indent: 15px;}
#my_logistics .user_right .order_list_null>a{margin:0;}

#my_logistics .user_right .pro_info{padding:15px 20px;border:solid 1px #ddd;overflow:hidden;margin-top:35px;}
#my_logistics .user_right .pro_info>h1{color:#333;font-weight: bold;font-family: '宋体';}
#my_logistics .user_right .pro_info>ul{padding:0 10px;overflow:hidden;border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;margin:10px 0;}
#my_logistics .user_right .pro_info>ul>li{float:left;margin:12px 50px 0px 0;}
#my_logistics .user_right .pro_info>ul>li>p.price{font-family: '微软雅黑';line-height:28px;text-align:center;}
#my_logistics .user_right .pro_info>ul>li img{width:88px;border:solid 1px #ddd;}
#my_logistics .user_right .pro_info>p{font-family: '宋体';font-size:12px; color:#333;line-height:25px;width:100%;}
#my_logistics .user_right .pro_info>p>span{font-weight: bold;}

#my_logistics .user_right .mod .con .pros{width:88.5%;margin: 0px 45px;}
#my_logistics .user_right .car_box{padding:0 15px;}